# Ignore virtual environment directory
.venv/

# Ignore Visual Studio Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database file
db.sqlite3

# Ignore other common files
.DS_Store
*.log
*.bak
*.swp
