{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Мои Заметки</h1>
<div class="text-center mb-4">
    <a href="{% url 'note_create' %}" class="btn btn-dark rounded-pill">Создать новую заметку</a>
</div>
<div class="sortable-list">
    {% for note in notes %}
    <div id="{{ note.id }}" class="card note-card sortable-item p-3 mb-2 bg-secondary text-white rounded-pill">
        <div class="card-body note-card-main">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.content|truncatewords:20 }}</p>
            <p class="card-text"><small class="text-white">Создано: {{ note.created_at }}</small></p>
            <a href="{% url 'note_detail' note.id %}" class="btn btn-outline-light rounded-pill">Подробнее</a>
            <a href="{% url 'note_edit' note.id %}" class="btn btn-outline-light rounded-pill">Изменить</a>
            <form action="{% url 'note_delete' note.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger rounded-pill">Удалить</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

